@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
    --font-sans: 'Montserrat', sans-serif;
    --font-montserrat: 'Montserrat', sans-serif;
}
@layer components {
    .heading-primary {
        @apply text-4xl font-bold  tracking-tight;
    }
}

:root {
  font-family: 'Montserrat', sans-serif;
}
